[submodule "go-api"]
	path = go-api
	url = https://github.com/guigoliver/go-api
[submodule "nestjs-order-microservice"]
	path = nestjs-order-microservice
	url = https://github.com/guigoliver/nestjs-order-microservice.git
[submodule "nextjs-frontend"]
	path = nextjs-frontend
	url = https://github.com/guigoliver/nextjs-frontend.git
